@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::after,
::before {
  box-sizing: border-box;
  transition: all 0.5s ease;
}

ul {
  list-style: none;
}

a,
button,
input {
  position: relative;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.5s ease;
  color: var(--white-color);
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C""\201D""\2018""\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

html {
  scroll-behavior: smooth;
}

/* fonts */
@font-face {
  font-family: "iskry";
  src: url(../fonts/iskry-bold.ttf) format(ttf);
}

body {
  font-size: 1rem;
  overflow-x: hidden;
  font-feature-settings: "kern" 1;
  text-rendering: optimizeLegibility;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  font-family: var(--pop-font);
  overscroll-behavior: none;
  color: var(--white-color);
  background-color: var(--black-color);
}

/* roots */

:root {
  --i-font: "iskry";
  --pop-font: "Poppins", sans-serif;
  --black-color: #000;
  --white-color: #fff;
  --bg-color: #cecece;
  --dark-theme-color: #0f0f0f;
  /* --theme-color: #7f00ff; */
  --theme-color: #747474;
  --border-color: #cecece;
  --h1-font: 11vw;
  --h2-font: 9vw;
  --pad-10: 10vh 0;
  --btn-font: 1.2vw;
  --logo-font: 1.8vw;
  --light-font: 300;
  --medium-font: 500;
  --bold-font: bold;
  --small-text: 1vw;
  --medium-text: 1.6vw;
  --big-text: 2vw;
  --p-font: 1.1vw;
  --h4-font: 2vw;
}

/* utilities classes */

.container {
  max-width: 90%;
  margin: 0 auto;
  position: relative;
}

.section {
  height: fit-content;
  min-height: 100vh;
  width: 100%;
  position: relative;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex {
  display: flex;
}

.center-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.full-size {
  width: 100%;
  height: 100%;
}

.line {
  height: 1px;
  width: 100%;
  background-color: var(--white-color);
}

.text-box {
  position: relative;
  pointer-events: none;
  pointer-events: none;
  overflow: hidden;
}

.img-box {
  position: relative;
  overflow: hidden;
  vertical-align: middle;
}

.title {
  font-size: var(--h1-font);
  pointer-events: none;
  font-family: var(--i-font);
  font-weight: var(--bold-font);
}

.sub-title {
  font-size: var(--h2-font);
  font-weight: var(--bold-font);
  letter-spacing: 4px;
}

.mini-title {
  font-size: var(--h4-font);
  font-weight: var(--light-font);
}

.paragraph {
  font-size: var(--p-font);
  font-weight: var(--light-font);
}

.hover-btn {
  font-size: var(--btn-font);
  font-weight: var(--light-font);
  letter-spacing: 1px;
}

.hover-btn::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  transform-origin: right;
  background-color: var(--theme-color);
  transition: transform 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.hover-btn:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

/* nav bar style */

.nav {
  position: fixed;
  top: 0;
  left: 0;
  height: fit-content;
  width: 100%;
  z-index: 800;
  box-shadow: 0 0 2px 0 var(--border-color);
  transform: translate3d(0, 0, 0);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease;
}

.nav[data-direction="down"] {
  transform: translate3d(0, -100%, 0);
}

.nav .container {
  padding: 3vh 0;
  /* border-bottom: 1px solid var(--border-color); */
}

.nav .logo {
  font-size: var(--logo-font);
  font-weight: var(--medium-font);
}

.nav .nav-links a:hover,
.nav .logo:hover {
  color: var(--theme-color);
}

.nav .nav-links {
  width: 20%;
}

/* scroller */

::-webkit-scrollbar {
  display: none;
}

/* scroll containers style */

.wrapper,
.scroll-container {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

/* footer start */

footer {
  padding: var(--pad-10);
  box-shadow: 0 0 1px var(--white-color);
  min-height: 16rem;
  position: relative;
}

footer p.copyright {
  letter-spacing: 1px;
  font-weight: var(--light-font);
}

footer .container .credits {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: right;
}

footer .container .credits p a,
footer .container .credits p {
  font-size: var(--small-text);
}

footer .container .credits p a:hover {
  color: var(--theme-color);
}

/* loader start */
.loader {
  width: 100%;
  height: 100%;
  background-color: var(--theme-color);
  position: fixed;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  z-index: 10000;
}

.loader .inner-loader {
  width: 100%;
  height: 100%;
  opacity: 0;
}

.loader .inner-loader h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 6px;
}

.loader .inner-loader .text-box {
  overflow: visible;
}

/* overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: var(--theme-color);
}
